*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    background-color:#a94064;
    height:90px;
    width:100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 20px;
}

.loginform-container {
    margin: 5% auto;
    box-shadow: 1px 2px 3px #69273e;
    padding: 5rem;
    width: 80%;
    max-width: 400px;
}

.register-notice {
    text-align: center;
    margin-top: 2rem;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}   
input {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.button {
    margin-top: 20px;
    width: 100%;
    background: linear-gradient(50deg, rgba(201, 125, 204, 0.836) 50%, rgb(173, 108, 133) 27%);
    color: #080710;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#signup-btn {
    margin-top: 10px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    display: block;
}
.logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}



.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.username {
    margin-right: 10px;
    color: white;
    font-weight: bold;
}
.logout-link {
    color: white;
    text-decoration: none;
    margin-bottom:0.5rem;
}

main {
    padding: 20px;
    justify-content: center;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
}

.profile {
    /* text-align: center; */
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile-username {
    margin-top: 10px;
    font-size: 18px;
}


.post {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
}

.post-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.post-text {
    margin-bottom: 10px;
}

.post-icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: #333;
}

.new-post{
    font-size: 2rem;
}

.comment-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.profile-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.profile-link{
    color: white;
    text-decoration: none;
}

#modif-btn{
    margin-top: 3rem;
}